<style>
body {
  font-family: Arial, sans-serif;
  background: #fafafa;
  margin: 0;
  padding: 0 0 3em 0;
}
h1 {
  margin-top: 1em;
  color: #1a1a1a;
  border-bottom: 2px solid #ddd;
  padding-bottom: 0.3em;
}
table {
  border-collapse: collapse;
  width: 95%;
  margin: 1em 0;
  background: #fff;
}
th, td {
  border: 1px solid #e3e3e3;
  padding: 0.75em;
  text-align: left;
}
th {
  background: #f6f6f6;
}
tr:nth-child(even) {
  background: #f9f9f9;
}
a, button {
  background: #3477eb;
  color: #fff;
  text-decoration: none;
  padding: 0.3em 1em;
  border-radius: 3px;
  border: none;
  margin-right: 0.2em;
  display: inline-block;
}
a:hover, button:hover {
  background: #2455a9;
}
input[type="number"] {
  width: 3em;
  padding: 0.3em;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  background: #fff;
  margin-bottom: 0.5em;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  padding: 0.8em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
label {
  font-weight: normal;
  display: block;
  margin-bottom: 0.35em;
}
form {
  margin-bottom: 1em;
}
.button-group {
  display: flex;
  gap: 0.2em;
}
.product-image {
  height: 80px;
  margin-right: 1em;
  border-radius: 3px;
  border: 1px solid #eee;
}
</style>
